extends bloglayout

block content
	.postteaser
		a(href='/post')
			.title We got fireworked
		.date	12 Aug 2014
		a(href='/post')
			iframe(src='https://onedrive.live.com/embed?cid=1821D59C79A40738&resid=1821D59C79A40738%218481&authkey=ACoipuVwBaVVkaE', scrolling="no", width="40%", frameborder="0" align="top")
		.content
			.text 
				| You know how there are special days we look forward to? Like the New Year, Chinese New Year, Christmas etc etc? 
				br
				br
				| These holidays give us a break from that annoying boss who keeps bugging us for our market report or the teacher that..
			a(href='/post')
				button read more
