html
  head
    title dice
    link(rel="stylesheet", type="text/css", href="/css/dice.css")
    script(src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js")
    script(src="/js/dice.js")
  body
    .area#area1
      .cube#cube1
        .side.front
        .side.back
        .side.bottom
        .side.top
        .side.right
        .side.left
    .area#area2
      .cube#cube2
        .side.front
        .side.back
        .side.bottom
        .side.top
        .side.right
        .side.left
    .area#area3
      .cube#cube3
        .side.front
        .side.back
        .side.bottom
        .side.top
        .side.right
        .side.left
    .area#area4
      .cube#cube4
        .side.front
        .side.back
        .side.bottom
        .side.top
        .side.right
        .side.left
    .area#area5
      .cube#cube5
        .side.front
        .side.back
        .side.bottom
        .side.top
        .side.right
        .side.left
    .area#area6
      .cube#cube6
        .side.front
        .side.back
        .side.bottom
        .side.top
        .side.right
        .side.left
    button#start Roll!
    button#add Add Die!
    button#minus Lose Die!
