html
  head
    title dice
    link(rel="stylesheet", type="text/css", href="/css/dice.css")
    script(src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js")
    script(src="/js/dice.js")
  body
    #area
      #cube
        .side.front
        .side.back
        .side.bottom
        .side.top
        .side.right
        .side.left
    button#start Roll!
