extends bloglayout

block content
	.post
		.title We got fireworked
		.date 18 July 2014
		.content 
			.para You know how there are special days we look forward to? Like the New Year, Chinese New Year, Christmas etc etc?
			.para These holidays give us a break from that annoying boss who keeps bugging us for our market report or the teacher that enjoys the look of despair on our faces when she demands yet another TYS (Ten Year Series - the bible of practice papers that Singaporen students have nightmares of) to be completed.
			.para For me, these celebrations had an additional incentive -  family gatherings.
			.para 9th August has always been one such occassion. And no, it isn't my brithday. It is Singapore's birthday and the nation throws a hell of a celebration. 
			.para When I was younger, my extended family would gather to celebrate National Day and to watch the fireworks. Consumer fireworks are prohibited in Singapore and 9th August is the one, if not only, time Singaporeans can feast their eyes on such an extravaganza - the magical display of gunpowder, courtesy of all our taxpayers.
			.para Well, time flew by and we grew up.
			iframe(src='https://onedrive.live.com/embed?cid=1821D59C79A40738&resid=1821D59C79A40738%218481&authkey=ACoipuVwBaVVkaE', scrolling="no", width="40%", frameborder="0" align="top")
			.para Yup, that's my monterous roar indeed haha. Now, don't you dare mess with me =p
			.para While, we did not intend for the session to end with a bang, I'm glad we are alive and well. With laughs of relief, we reviewed the eventful night and thanked God. It will probably be awhile before we would dare to play with fire again.
			.para Remember kids, don't try this at home.
			.para Love, Belle
			.para Tags: Fish  2014  etc